/* CSS Styles are placed in this file */

@import url('https://fonts.googleapis.com/css?family=Aldrich');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    background-image: url("images/World-War-II-art-drawing-fighter-aircraft-carrier-sea-sky_1600x900%20(2).jpg");
    background-size: cover;
    height: 400px;
}

main {
    min-height: 400px;
    background-color: #cacaca;
    padding-top: 20px;
}

footer {
    height: 150px;
    background-color: #bdcbd9;
}

.container {
    width: 980px;
    margin: auto;
}

ul,
nav,
a,
.head1,
.row:after,
.container:after {
    content: " ";
    display: table;
    clear: both;
}


/* ----- =logo ----- */

header h1 {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 40px;
    margin: 30px 0 10px 0px;
    text-shadow: 0 0 5px #fff;
}

header h1 a {
    color: #424254;
    text-decoration: none;
}

.head1 {
    font-family: 'Aldrich', sans-serif;
    border: 2px solid #000;
    box-shadow: 0 0 10px 0 #000 inset;
    text-align: center;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    font-size: 45px;
}

header h1 a:hover {
    color: red;
}


/* ----- =navigation ----- */

header nav {
    float: right;
    margin-top: 30px;
    margin-right: 150px;
    margin-bottom: 20px;

    width: 100px;
    height: 250px;
}

header nav a {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #424254;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
    border: 1px solid #bcbcbc;
    padding: 10px;
    border-radius: 10px;
    background-color: #cacaca;
}

header nav a:hover {
    color: red;
}

.column-left {
    width: 50%;
    float: left;
}

.column-right {
    width: 50%;
    float: right;
}

.column-left h2 {
    width: 50%;
    background-color: #cacaca;
    xbox-shadow: 0 0 10px 0 #000 inset;
}

.column-right h2 {
    width: 50%;
    xborder: 1px solid #000;
    background-color: #cacaca;
}

h2 {
    font-family: 'Aldrich', sans-serif;
    font-size: 30px;
}



.col-1 {
    width: 25%;
    float: left;
}

.col-2 {
    width: 16.666666%;
    float: left;
}

x.col-3 {
    width: 25%;
}

x.col-4 {
    width: 25%;
}

p { font-family: 'Aldrich', sans-serif;
   
}
